<div class="main posts-new">
    <div class="container">
        <h1 class="form-heading">Comment to</h1>
        <div class="post-info">
            <dl class="row">
                <dt class="col-sm-3">Posted by: </dt>
                <dt class="col-sm-9">
                    <%= link_to(@post.user.name, "/users/#{@post.user.id}")%></dt>
                <dt class="col-sm-3">Title: </dt>
                <dt class="col-sm-9">
                    <%= @post.title%></dt>
                <dt class="col-sm-3">Detail: </dt>
                <dt class="col-sm-9">
                    <%= @post.detail%></dt>
            </dl>
        </div>
        <%= form_tag("/posts/#{@post.id}/comments/create") do %>
        <h1 class="form-heading">Comment</h1>
        <div class="form">
            <div class="form-body">
                <% @comment.errors.full_messages.each do |message| %>
                <div class="form-error">
                    <%= message %>
                </div>
                <% end %>
                <p>message</p>
                <textarea name="message" required="true"></textarea>
                <p></p>
                <input type="submit" value="send">
                <%end%>
            </div>
        </div>
    </div>
</div>