<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <div class="post-info">
                <dl class="row">
                    <dt class="col-sm-3">Posted by: </dt>
                    <dt class="col-sm-9">
                        <%= link_to(@user.name, "/users/#{@user.id}")%></dt>
                    <dt class="col-sm-3">Title: </dt>
                    <dt class="col-sm-9">
                        <%= @post.title%></dt>
                    <dt class="col-sm-3">Detail: </dt>
                    <dt class="col-sm-9">
                        <%= @post.detail%></dt>
                    <dt class="col-sm-3">Category: </dt>
                    <dt class="col-sm-9">
                        <%= @postType.name%></dt>
                </dl>
            </div>
            <div class="post-menus">
                <% if @post.user_id == @current_user.id %>
                <div>
                    <a type="button" href="/posts/<%=@post.id%>/edit" class="btn btn-info">
                        Modify post
                    </a>
                    <a type="button" href="/posts/<%=@post.id%>" data-toggle="modal" data-target="#deletePost" class="btn btn-danger">
                        Delete post
                    </a>
                </div>
                <%= link_to("modify", "/posts/#{@post.id}/edit") %>
                <%= button_to("delete", "/posts/#{@post.id}",{method:"post"}) %>
                <%end%>
                <div class="posts-index-item">
                    <%= form_tag("/comments/#{@cid}/create_r") do %>
                    <dl class="row">
                        <dt class="col-sm-3">Reply to: </dt>
                        <dt class="col-sm-9">
                            <%= @to_reply.message%></dt>
                    </dl>
                    <% @post.comments.each do |comment|%>
                    <% if comment.comment_id.to_i == @cid.to_i %>
                    <%= link_to(" =>#{comment.message}","/users/#{comment.user_id}")%>
                    <p></p>
                    <% end %>
                    <% end%>
                    <label　for="message">message</label>
                    <textarea class="form-control" name="message" required="true"></textarea>
                    <p></p>
                    <input class="form-control2" type="submit" value="send">
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="deletePost" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your post?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger">
                    <%= link_to("Yes", "/posts/#{@post.id}",{method:"delete",
                    class: 'css_class', style: 'color:#FFFFFF'}) %></button>
            </div>
        </div>
    </div>
</div>